* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

.layar-penuh {
    width: 100%;
}

nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav.putih {
    background-color: #fff;
}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    vertical-align: middle;
    width: 120px;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* pengaturan header */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1300px;
    height: 1500px;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}

section {
    padding: 50px 0px 50px 0px;
}

section h3 {
    font-size: 30px;
}

section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
}

#gallery,
#features,
#reviews,
#shop
{
    text-align: center;
}

section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
}

section .konten-isi p {
    font-style: normal;
}

nav.putih {
    background-color: #fff;
}

nav.putih .tombol-menu .garis {
    background-color: #333;
}

nav.putih ul li a {
    color: #333;
}

nav .logo img.hitam {
    display: none;
}

section.abuabu {
    background-color: #f5f6f6;
}


.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reviews h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.reviews div {
    text-align: center;
    width: 26%;
}

.reviews img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

footer {
    padding: 50px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
}

footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .layar-dalam div {
    width: 20%;
}

footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
}

@media screen and (max-width: 991.98px) {
    .layar-dalam {
        width: 90%;
    }

    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }

    nav .menu ul li a {
        color: #333;
    }

    .tombol-menu {
        display: flex;
    }
}
.fitur {
    text-align: start;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card .img{
    height: 250px;
    width: 100%; 
}

.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 700;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .btn{
    font-size: 13px;
    color: #c86b85;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #c86b85;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #c86b85;
    color: white;
}